/* Styling for Home */

.homeWrapper {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    margin: 0 0 0 0;
    background-color: #CFE0C3;
}

.heading {
    min-height: 180px;
    background-color: #70A9A1;
    margin: 0 0 0 0;
    padding: 3px 3px 3px 3px;
}

.mainTitle{
    margin-left: 1%;
}

.subHeading {
    text-align: center;
    font-size: x-large;

}

/* Styling for Information */

.information {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

/* Styling for Predictions */

.pageWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 400px;
}

.explanation {
    background-color: #CFE0C3;
    min-height: 180px;
    padding:2%;
    margin-left: 23%;
}

/* Styling for Card */

.card {
    display: flex;
    width: 22%;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    border-radius: 6%;
    background-color: #9EC1A3;
}

/* Styling for Match */

.matches {
    display:flex;
    flex-direction: column;
    width:30%;
    border: 1px solid;
    margin-left:10%;
    padding: 1%;
    background: #9EC1A3;
}

.calculatorWrapper {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:30%;
    border: 1px solid;
    margin-right:1%;
    padding: 1%;
    background: #9EC1A3;
}


/* Styling for button */

.predictButton {
    display: inline-block;
    margin: 0.75rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.1875rem;
    outline: none;
    background-color: tomato;
    color: white;
    font-family: inherit;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.5rem;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
  }
  .predictButton:focus, .predictButton:hover {
    background-color: #ff7359;
    box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #ff7359;
  }
  .predictButton:active {
    background-color: #f25e43;
    box-shadow: 0 0 0 0.1875rem #f25e43, 0 0 0 0.375rem #f25e43;
    -webkit-transition-duration: 75ms;
            transition-duration: 75ms;
  }
  .predictButton.is-outlined {
    border: 0.1875rem solid tomato;
    background-color: transparent;
    color: tomato;
  }
  .predictButton.is-outlined:focus, .predictButton.is-outlined:hover {
    border-color: #ff7359;
    color: #ff7359;
  }
  .predictButton.is-outlined:active {
    border-color: #f25e43;
    color: #f25e43;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }

  @media screen and (max-width: 680px) {

    .information {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .card {
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1%;
        margin-left: 1%;
        margin-bottom: 1%;
        border-radius: 6%;
        background-color: #9EC1A3;
    }

}